* {
	margin: 0;
	padding: 0;

}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

header {
	background-color: aquamarine;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	margin: 4vh auto;
	font-weight: bold;
	font-size: xxx-large;
	text-align: center;
}

#canvas-wrapper {
	display: flex;
	align-items: center;
	width: 25vw;
	height: fit-content;
	position: relative;
}

canvas {
	image-rendering: pixelated;
	width: 100%;
}

#selected-pixel {
	position: absolute;
	top: 0;
	left: 0;
	outline: dimgrey 7px dashed;
	box-sizing: border-box;
}

#input-wrapper {
	display: flex;
}

input[type=file] {
	font-weight: bold;
	font-size: large;
	padding: 2vh;
}

input::file-selector-button {
	padding: 1.5vh;
	margin-right: 2vw;
	font-size: larger;
	font-weight: bold;
	border: none;
	border-radius: 15px;
	background-color: darkturquoise;
	box-shadow: -2px 2px 4px 0 #4040406b;
}

input::file-selector-button:hover {
	background-color: #007172;
	color: #ffffff;
}

#picker {
	display: flex;
	justify-content: center;
	align-items: center;
}

#picker label {
	margin-right: 1vw;
	font-weight: bold;
	font-size: larger;
}

input[type=color] {
	background-color: #007172;
	border-radius: 7px;
	height: 3.5vh;
}

#save {
	padding: 1.5vh;
	font-size: larger;
	font-weight: bold;
	border: none;
	border-radius: 15px;
	background-color: darkturquoise;
	box-shadow: -4px 4px 8px 0 #4040406b;
}

#save:hover {
	background-color: #007172;
	color: #ffffff;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: aquamarine;
	width: 100%;
	height: 10%;
}