* {
	margin: 0;
	padding: 0;

}

body {
	width: 100vw;
	height: 100vh;
	outline: 2px solid red;
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}

h1 {
	margin: 4vh auto;
}

input {
	margin: 1vh auto;
}

div {
	display: flex;
	align-items: center;
	width: 25vw;
	height: fit-content;
	position: relative;
}

canvas {
	background-color: moccasin;
	image-rendering: pixelated;
	outline: firebrick 1px solid;
	width: 100%;
}

#selected-pixel {
	position: absolute;
	top: 0;
	left: 0;
	border: dimgrey 7px dashed;
	box-sizing: border-box;
}